@{
    var qrCodeBase64 = ViewBag.QRCodeBase64;
}
@{
    ViewData["Title"] = "QR Sayfası";
}
@model WebApplication1.Models.UserViewModel

<style>
    body {
        background-color: #f7f7f7;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .user-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .user-info {
        background-color: silver;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

        .user-info strong {
            font-weight: bold;
        }

    .qr-code {
        margin-top: 20px;
    }
</style>

<div class="container">
    <h1>QR Kod Ve Kullanıcılar</h1>

    <div class="user-list">
        @foreach (var user in ViewBag.UserList)
        {
            <div class="user-info">
                <strong>Vergi Numarası:</strong> @user.taxNo <br />
                <strong>T.C. Numarası:</strong> @user.tcNo <br />
                <strong>E-Posta:</strong> @user.Email <br />
                <strong>Birliği:</strong> @user.UnitAd <br />
                <strong>Adı:</strong> @user.NameUser <br />
                <strong>Soyadı:</strong> @user.Surname <br />
                <strong>Telefonu:</strong> @user.Phone <br />
            </div>
        }
    </div>

    @if (!string.IsNullOrEmpty(qrCodeBase64))
    {
        <div class="qr-code">
            <a href="data:image/png;base64,@qrCodeBase64" download="qrcode.png">
                <img src="data:image/png;base64,@qrCodeBase64" alt="QR Code" />
            </a>
        </div>
    }
</div>
