@using Microsoft.AspNetCore.Http;
@model IEnumerable<WebApplication1.Models.UserViewModel>;
@{
    ViewData["Title"] = "Bilgi Sayfası";
}
<head>
    <style>
        * {
            margin: 0px;
            box-sizing: border-box;
        }

        .baslik {
            text-align: center;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .tablo {
            font: arial;
            border-collapse: collapse;
            width: 100%;
            border: 0px;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            background-color: lightgray;
            cursor: default;
        }

        body {
            background-color: #f2f2f2;
        }

        .tablo tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tablo .hovertr:hover {
            background-color: #80838a;
            color: #fff;
        }

        .tablo .ilkbar {
            padding: 100px;
            background-color: #323a49;
            text-align: left;
            color: white;
            margin: 0px;
            border: 0px;
            padding-bottom: 10px;
            cursor: default;
        }

        .tablo th {
            padding-top: 12px;
            padding-bottom: 5px;
            border: 0px;
            border: 1px solid #ddd;
            padding: 4px;
            cursor: default;
        }

        .tablo td {
            padding: 2px;
            padding-top: 6px;
            padding-bottom: 3px;
            padding-right: 3px;
            border: 1px solid #ddd;
            cursor: default;
        }

        .tablo td a {
            margin:0px;
            padding:0px;
        }
    </style>
</head>
<body>
    <div>
        <h1 class="baslik">Kişisel bilgiler</h1>
        <table class="tablo">
            <thead>
                <tr class="ilkbar">
                    <th>Vergi No.</th>
                    <th>T.C. No.</th>
                    <th>Şirket Adı</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>E-Posta</th>
                    <th>Birlik Alanı</th>
                    <th>Telefon Numarası</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr class="hovertr">
                        <td><a href="~/Home/Secim">@item.taxNo</a></td>
                        <td><a href="~/Home/Secim">@item.tcNo</a></td>
                        <td><a href="~/Home/Secim">@item.ComAd</a></td>
                        <td><a href="~/Home/Secim">@item.NameUser</a></td>
                        <td><a href="~/Home/Secim">@item.Surname</a></td>
                        <td><a href="~/Home/Secim">@item.Email</a></td>
                        <td><a href="~/Home/Secim">@item.UnitAd</a></td>
                        <td><a href="~/Home/Secim">@item.Phone</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</body>